*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
}
ul{
    list-style: none;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}
/*affinche solo alcuni elementi vengano evidenziati*/

.btn{
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
}
.btn-green{
    background-color: #7cbb02;
}
.btn-large{
    padding: 20px;
}
.btn-blue{
    border: 1px solid white;
    padding: 8px 25px;
}
header{
    height: 550px;
    background-color:#0d325a;
    background-image:url(../img/background-header.png) ;
    background-size: 60%;
    background-position: 110% 110%;
    background-repeat: no-repeat;
    color: white;
}
.header-nav{
    width: 100%;
    height: 80px;
    line-height: 55px; 
}
.header-nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}
.nav-center li:hover{
    cursor: pointer;
    background-color:#7cbb02;
}
.header-nav li{
    display: inline-block;
    padding: 0 10px;
}
.logo{
    width: 15%;
}
.logo >img{
    margin-top:5px ;
}
.jumbotron{
    height: 470px;
    position: relative;
}
.jumbotron-title{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    font-size: 30px;
}
.jumbotron-title >h1{
    margin-bottom: 50px;
}
.language{
    height: 150px;
    background-color:rgb(196, 187, 187);
    text-align: center;
    line-height: 40px;
    padding-top: 40px;
}
.language h1{
    font-size: 30px;
}
.language h3{
    font-size: 22px;
    color: rgb(95, 69, 69);
}
.block{
    width: 33%;
   float: left;
   position: relative;
   margin-top: 60px;
   padding: 10px;
}
.block-top{
    padding-bottom:40px ;
}
.block-top img{
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%);  
}
.block-top h1{
    margin-top:60%;
    text-align: center;
    color: #7cbb02 ;
    font-size: 30px;
    margin-bottom: 20px;
}
.block-top .hr{
    width: 100px;
    height: 2px;
    background-color: grey;
    margin: auto;
}
.main-block p{
    color: grey;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.block-due{
    margin-top:40px;
    width: 50%;
    float: left;
}
.block-due h1{
    font-size: 50px;
    padding-bottom:50px;
}
.block-due p{
    font-size: 25px;
    color: grey;
    padding-bottom:50px;
}
footer{
    height: 130px;
    background-color:rgb(196, 187, 187);
}
.footer-block{
    width: 50%;
    float:left;
    padding-left:90px ;
    margin-top: 50px;
}
#select{
    padding-left:30px;
    padding: 5px;
    width: 150px;  
    background-color: transparent;
    color: grey;
    border: 0px solid;
    border-bottom:1px solid grey;
    margin: 0 20px;
    font-size: 22px;
}

*:focus{
    outline: none;
}
#help{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding:10px;
    background-color:#7cbb02;
    border-radius: 5px;
}
